<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.CustomContainers" description="Use this project to includ CustomContainers components."
                       dependencies="Foundation.Serialization" extends="Helix.XA.Module" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            <!-- By default serializes all items created with SXA module, check the base configuration in Unicorn.Helix.config -->
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>