<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <pipelines>
    
      <getVelocityTemplateRenderers>
        <processor type="Trelleborg.Foundation.SitecoreExtensions.Pipelines.AddTemplateRenderers, Trelleborg.Foundation.SitecoreExtensions"
                   patch:after="processor[@type='Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVelocityTemplateRenderers.InitializeVelocityContext, Sitecore.XA.Foundation.Variants.Abstractions']"  />
      </getVelocityTemplateRenderers>
    </pipelines>
  </sitecore>
</configuration>