<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Global" description="Content and settings common between different tenants." extends="Helix.Base" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            <!-- Workflows tenant folders with subitems -->
            <include name="System.Workflows.Trelleborg" database="master" path="/sitecore/system/Workflows/Trelleborg" />

            <!-- System languages -->
            <include name="System.Languages" database="master" path="/sitecore/system/Languages" />

            <!-- Trelleborg tenant root folders -->
            <!-- Templates -->
            <include name="Templates.Foundation.Trelleborg" database="master" path="/sitecore/templates/Foundation/Trelleborg">
              <exclude children="true" />
            </include>
            <include name="Templates.Feature.Trelleborg" database="master" path="/sitecore/templates/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Templates.Project.Trelleborg" database="master" path="/sitecore/templates/Project/Trelleborg" >
              <exclude children="true" >
                <!-- SXA templates added by default with tenant setup -->
                <except name="Home" />
                <except name="Page" />
                <except name="Page Design" />
                <except name="Page Design Folder" />
                <except name="Page" />
                <except name="Page Designs" />
                <except name="Partial Design" />
                <except name="Partial Design Folder" />
                <except name="Partial Designs" />
                <except name="Settings" />
                <except name="Site" />
                <except name="Tenant" />
              </exclude>
            </include>

            <!-- Branches -->
            <include name="Branches.Foundation.Trelleborg" database="master" path="/sitecore/templates/Branches/Foundation/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Branches.Feature.Trelleborg" database="master" path="/sitecore/templates/Branches/Feature/Trelleborg">
              <exclude children="true" />
            </include>
            <include name="Branches.Project.Trelleborg" database="master" path="/sitecore/templates/Branches/Project/Trelleborg" >
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Layouts.Foundation.Trelleborg" database="master" path="/sitecore/layout/layouts/Foundation/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Layouts.Feature.Trelleborg" database="master" path="/sitecore/layout/layouts/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Layouts.Project.Trelleborg" database="master" path="/sitecore/layout/layouts/Project/Trelleborg">
              <exclude children="true" />
            </include>

            <!-- Models -->
            <include name="Models.Foundation.Trelleborg" database="master" path="/sitecore/layout/models/Foundation/Trelleborg">
              <exclude children="true" />
            </include>
            <include name="Models.Feature.Trelleborg" database="master" path="/sitecore/layout/models/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Models.Project.Trelleborg" database="master" path="/sitecore/layout/models/Project/Trelleborg">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Foundation.Trelleborg" database="master" path="/sitecore/layout/placeholder settings/Foundation/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Feature.Trelleborg" database="master" path="/sitecore/layout/placeholder settings/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Project.Trelleborg" database="master" path="/sitecore/layout/placeholder settings/Project/Trelleborg" >
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Renderings.Foundation.Trelleborg" database="master" path="/sitecore/layout/renderings/Foundation/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Renderings.Feature.Trelleborg" database="master" path="/sitecore/layout/renderings/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Renderings.Project.Trelleborg" database="master" path="/sitecore/layout/renderings/Project/Trelleborg" >
              <exclude children="true" />
            </include>

            <!--Settings-->
            <include name="Settings.Foundation.Trelleborg" database="master" path="/sitecore/system/Settings/Foundation/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Settings.Feature.Trelleborg" database="master" path="/sitecore/system/Settings/Feature/Trelleborg" >
              <exclude children="true" />
            </include>
            <include name="Settings.Project.Trelleborg" database="master" path="/sitecore/system/Settings/Project/Trelleborg" >
              <exclude children="true" />
            </include>

            <!--System-->
            <include name="System.Tasks" database="master" path="/sitecore/system/Tasks/Schedules/Trelleborg" />

            <!-- Media -->
            <include name="Media.Foundation.Trelleborg" database="master" path="/sitecore/media library/Foundation/Trelleborg" />
            <include name="Media.Feature.Trelleborg" database="master" path="/sitecore/media library/Feature/Trelleborg" />
            <include name="Media.Project.Trelleborg" database="master" path="/sitecore/media library/Project/Trelleborg" >
              <exclude children="true" />
            </include>

            <!--Themes-->
            <include name="Media.Themes.Trelleborg" database="master" path="/sitecore/media library/Themes/Trelleborg" >
              <!-- Excluding files generated by Asset Optimizer, they are dynamically updated if needed during page requests -->
              <exclude path="Trelleborg/Scripts/optimized-min" />
              <exclude path="Trelleborg/styles/optimized-min" />
            </include>

            <!--Content -->
            <include name="Applications.WebEdit.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Trelleborg" />
            <include name="System.Settings.HtmlEditorProfiles.RichTextMinimal" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Trelleborg" />



          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>