<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Group" description="Shared site specific root folders" dependencies="Foundation.*,Feature.*,Project.Global" extends="Helix.Base" patch:after="configuration[@name='Project.Global']">
          <predicate>
            <include name="Content.Trelleborg.Group" database="master" path="/sitecore/content/Trelleborg/Group" />
            <include name="Templates.Project.Trelleborg.Group" database="master" path="/sitecore/templates/Project/Trelleborg/Group" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>