<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  LanguageTransaltedWorkFlowStateId
          Automatically publishes item to web
      -->
      <setting name="LanguageTransaltedWorkFlowStateId" value="{668D52B2-2E98-4E3E-9EE9-46CF84F015F1}" />
    </settings>
    <events timingLevel="custom">
      <event name="item:saved">
        <handler type="DLBi.Sitecore.Events.LanguageWireSaveEventHandler, DLBi.Sitecore" method="OnItemSaved" />
      </event>
    </events>
  </sitecore>
</configuration>