<?xml version="1.0"?>
<appSettings>
  <add key="EmailReminder.FromAddress" value="name@server.net" />
  <!-- NetSpell directory -->
  <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
  <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  <!-- Telerik keys -->
  <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <add key="Telerik.Upload.ConfigurationHashKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
  <add key="aspnet:RequestQueueLimitPerSession" value="25" />
  <!-- SUPPORTED SERVER ROLES     
         Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

         ContentDelivery
         ContentManagement
         Processing
         Reporting
         Standalone
          
    Default value: Standalone
    -->
  <add key="role:define" value="Standalone" />
  <!-- SUPPORTED SEARCH PROVIDERS     
         Specify the search provider that you want this server to use. The supported search providers are:
    
         Lucene
         Solr
         Azure
    
    Default value: Lucene
    -->
  <add key="search:define" value="Solr" />
  <!-- SUPPORTED MEMBERSHIP CONFIGURATION FOR CONTENT DELIVERY
         Specify the membership configuration that you want this server to use for Content Delivery role. The supported options are:

         Sitecore
         None
          
    Default value: Sitecore
    -->
  <add key="security:define" value="Sitecore" />
  <add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin" />
  <add key="eds:define" value="CustomSMTP" />
  <add key="exmEnabled:define" value="yes" />
  <add key="AllowInvalidClientCertificates" value="false" />
  <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <add key="Telerik.Upload.ConfigurationHashKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="jejEIypC5SnLAVDhYQZg0VJGNVeJoCNbxu5X2dw94DgTh9YqGvfV9UP6IbQG4tlmVFCK2Y6a4YdUQlwR6eXkEYt0J1C15m5iVKp4rc3Dt98tMJCjL59UuLtF7q24McLoHISKs0wOUzdNqNx4A3WaVhRiChO7URpLKSoDSN2IvB8TgxVgQomwAbSZEN3tDd0dhfXYZ5YhtuydPKZC0GEIs1WSfUp6dXyxKMmcKDO0il5zAtRffbLldDn9EcH6F3bu" />
  <add key="sxaxm:define" value="sxaxconnect" />
  <add key="LanguageSelectorPath" value="/sitecore/content/Trelleborg/{0}/Settings/Language Selector Setting"/>
  <add key="GoogleMapUrl" value="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl={2}&amp;geocode=&amp;q={0}+{1}&amp;aq=&amp;ie=UTF8&amp;z=16"/>
  <add key="GlobalDictionaryFolderPath" value="/sitecore/content/Trelleborg/Global/"/>
  <add key="GoogleStaticMapUrl" value="https://maps.googleapis.com/maps/api/staticmap?center={0},{1}&amp;zoom=15&amp;markers=color:red%7Clabel:%7C{0},{1}&amp;size=600x400&amp;key=AIzaSyDJxZ08Sa0v1nhW6PoPxa8LXBmmBq0oMTc"/>
  <add key="CisionTickerAddress" value="https://publish.ne.cision.com/papi/Ticker/B88C72A18C7847C8BAA4E9D1727F4E8A"/>
</appSettings>