<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Wheels" description="Contains all the content items for Wheels" dependencies="Foundation.*,Feature.*,Project.Global,Project.Group,Project.Base" extends="Helix.Base" patch:after="configuration[@name='Project.Group']">
          <predicate>
            <include name="Content.Trelleborg.Wheels" database="master" path="/sitecore/content/Trelleborg/Wheels" >
              <!--<exclude path="/Home" />
              <exclude path="/Media" />
              <exclude childrenOfPath="/Data/*" />-->
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="true" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>