<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <events>
     
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="Global" >Global</site>
            <site name="Group">Group</site>
            <site name="Wheels">Wheels</site>
            <site name="Mitas Moto" >Mitas Moto</site>
            <site name="Demo" >Demo</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="Global" >Global</site>
            <site name="Group">Group</site>
            <site name="Wheels">Wheels</site>
            <site name="Mitas Moto" >Mitas Moto</site>
            <site name="Demo" >Demo</site>
          </sites>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>
