<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Trelleborg.Feature.ContextSelector.Pipeline.RegisterServices, Trelleborg.Feature.ContextSelector"/>
    </services>
  </sitecore>
</configuration>