<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <!--Logging Patch Begin-->
    <log4net>
      <!--<appender name="CustomDefaultLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <file value="$(RootPath)/logs/Trelleborg.Default.{date}.txt" />
        <datePattern value="dd.MM.yyyy'.log'" />
        <staticLogFileName value="false" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>-->
      
       <appender name="CustomDefaultLogFileAppender" type="Trelleborg.Foundation.Logging.Infrastructure.SitecoreLogFileAppenderEx, Trelleborg.Foundation.Logging">
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <file value="$(RootPath)/logs/Trelleborg.Default.{date}.txt" />
        <datePattern value="dd.MM.yyyy'.log'" />
        <staticLogFileName value="false" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t [%P{sccontextsite}] %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>

      <logger name="Sitecore.Diagnostics.CustomDefaultLogFileAppender" additivity="false">
        <level value="ALL" />
        <appender-ref ref="CustomDefaultLogFileAppender" />
      </logger>
    </log4net>
    <!--Logging Patch End-->
  </sitecore>
</configuration>